* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 114px;
    height: 50px;

}

.logo {
    background-image: url("media/amazon_logo.png");
    background-size: cover;
    width: 114px;
    height: 50px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/* box 2 style */

.add-first {
    font-size: 0.85rem;
    margin-left: 23px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}


/* box 3 */

.nav-search {
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    /* align-items: center; */
    border-radius: 5px;
    justify-content: space-evenly;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbd68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2rem;
}

.cart i {
    font-size: 30px;
    font-weight: 700;
}

span {
    font-size: 0.85rem;
}

.nav-second {
    font-size: 1rem;
    font-weight: 700;
}

.panel {
    color: white;
    background-color: #232e3f;
    height: 3rem;
    display: flex;
    align-items: center;
}

.panel-ops a {
    color: white;
    text-decoration: none;
    margin: 0 5px;

}

.panel-ops {
    width: 75%;
    font-size: 0.85rem;
}

.panel-all {
    padding: 8px 9px;
}

.hero-section {
    background-image: url(media/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-txt {
    background-color: #f2f5f4;
    height: 35px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-size: 0.85rem;
}

.hero-txt a {
    text-decoration: none;
    color: black;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bcd0d5;
}

.box {
    height: 420px;
    width: 23%;
    background-color: white;
    margin: 1rem 0;
}

.box-content {
    margin: 1.5rem 1rem;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 0.85rem;
    margin-bottom: 1.2rem;
}

.box p {
    color: #4d6667;
}

.top {
    background-color: #37475a;
    padding: 15px 0;
    text-align: center;
    color: white;
}

footer {
    background-color: #232f3e;
}

.footer-link {
    display: flex;
    justify-content: space-evenly;
}

.footer-link-box {
    height: 100px;
    width: 20%;
    border: 1px solid red;
}

.foot-panel2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 3rem;
}


.foot-panel2 ul a {
    display: block;
    margin: 1rem 0;
}

.foot-panel2 ul p {
    font-weight: bold;
    margin-top: 3rem;
}

.foot-panel3 {
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel4-ops a {
    display: inline;
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    font-size: 0.85rem;

}

.copyright {
    color: white;
    margin-top: 1rem;
}

.foot-panel4 {
    text-align: center;
    margin: 1rem 0;
}